body {
    color: #003366;
    background: #3399FF;
    margin: 0px;
    font-family: "Chakra Petch", Rubik;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px #4A90E2;
    padding: 20px;
    font-size: 32px;
    color: #003366
}

.chamada {
    background: #3399FF
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid green;
}

.categoria h2 {
    color: #003366
}
